*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e293b,#111827);
    padding:20px;
}

.container{
    width:500px;
    max-width:100%;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.15);
    border-radius:20px;
    padding:35px;
    text-align:center;
    color:white;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

h1{
    color:#38bdf8;
    margin-bottom:10px;
}

.subtitle{
    color:#cbd5e1;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    font-size:16px;
    margin-bottom:15px;
    outline:none;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#06b6d4;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0891b2;
    transform:translateY(-2px);
}

#result{
    margin-top:20px;
    min-height:35px;
}

.strength-bar{
    width:100%;
    height:12px;
    background:#374151;
    border-radius:20px;
    margin-top:15px;
    overflow:hidden;
}

.bar{
    height:100%;
    width:0%;
    transition:0.5s ease;
    border-radius:20px;
}

.weak{
    width:33%;
    background:#ef4444;
}

.medium{
    width:66%;
    background:#f59e0b;
}

.strong{
    width:100%;
    background:#22c55e;
}

#tips{
    margin-top:15px;
    color:#d1d5db;
    min-height:40px;
}

.rules{
    margin-top:25px;
    text-align:left;
    background:rgba(255,255,255,0.05);
    padding:15px;
    border-radius:10px;
}

.rules h3{
    margin-bottom:10px;
    color:#38bdf8;
}

.rules ul{
    padding-left:20px;
}

.rules li{
    margin:8px 0;
}